In [4]:
import duckdb
from pathlib import Path
from settings import settings

conn = duckdb.connect(Path(settings.get("db_path", "data/alpha_vantage.db")))

In [5]:
result = conn.execute("SELECT * FROM MACRO").df()
print(result)

             dt  wti  brent  natural_gas  copper  aluminum  wheat  corn  \
0    2025-09-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
1    2025-08-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
2    2025-07-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
3    2025-06-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
4    2025-05-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
...         ...  ...    ...          ...     ...       ...    ...   ...
1036 1939-05-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
1037 1939-04-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
1038 1939-03-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
1039 1939-02-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN
1040 1939-01-01  NaN    NaN          NaN     NaN       NaN    NaN   NaN

      cotton  sugar  ...  real_gdp  real_gdp_per_capita  treasury_yield  \
0        NaN    NaN  ...       NaN                  NaN             NaN
1        NaN    NaN  ...       NaN                  NaN             NaN
2        NaN    NaN  ...       NaN                  NaN             NaN
3        NaN    NaN  ...       NaN                  NaN             NaN
4        NaN    NaN  ...       NaN                  NaN             NaN
...      ...    ...  ...       ...                  ...             ...
1036     NaN    NaN  ...       NaN                  NaN             NaN
1037     NaN    NaN  ...       NaN                  NaN             NaN
1038     NaN    NaN  ...       NaN                  NaN             NaN
1039     NaN    NaN  ...       NaN                  NaN             NaN
1040     NaN    NaN  ...       NaN                  NaN             NaN

      federal_funds_rate  cpi  inflation  retail_sales  durables  \
0                    NaN  NaN        NaN           NaN       NaN
1                    NaN  NaN        NaN           NaN       NaN
2                    NaN  NaN        NaN           NaN       NaN
3                    NaN  NaN        NaN           NaN       NaN
4                    NaN  NaN        NaN           NaN       NaN
...                  ...  ...        ...           ...       ...
1036                 NaN  NaN        NaN           NaN       NaN
1037                 NaN  NaN        NaN           NaN       NaN
1038                 NaN  NaN        NaN           NaN       NaN
1039                 NaN  NaN        NaN           NaN       NaN
1040                 NaN  NaN        NaN           NaN       NaN

      unemployment  nonfarm_payroll
0              NaN         159732.0
1              NaN         159415.0
2              NaN         159219.0
3              NaN         160256.0
4              NaN         159930.0
...            ...              ...
1036           NaN          30145.0
1037           NaN          29786.0
1038           NaN          29804.0
1039           NaN          29394.0
1040           NaN          29296.0

[1041 rows x 22 columns]